attr==0.3.1
attrs==17.4.0
base58==0.2.5
bleach==2.1.2
cffi==1.11.4
-e git+https://github.com/gdanezis/claimchain-core@59d5264b79bdb191be599606cc73de1f96879edb#egg=claimchain
coverage==4.5.1
cycler==0.10.0
decorator==4.2.1
defaultcontext==1.0.3
docutils==0.14
entrypoints==0.2.3
future==0.16.0
-e git+https://github.com/gdanezis/rousseau-chain@dc3cf26bc0281e9b01352316da2e655b0ed84f45#egg=hippiehug&subdirectory=hippiehug-package
html5lib==1.0.1
ipykernel==4.8.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
msgpack-python==0.5.4
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
petlib==0.0.43
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.4.0
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
redis==2.10.6
scipy==1.0.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
statistics==1.0.3.5
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
